body {
  margin: 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

}



button {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px;
  background-image: linear-gradient(to right, #711F8D, #A818DA);
  border: none;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0px 4px 3px #ccc;
}

.input-area .container {
  display: flex;
  gap: 30px;
}

.meme-container {
 
  margin-bottom: 20px;
  width: 50%;
}
.meme-container input {
  width: 100%;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-weight: bold;
  height: 65px;
}
.logo img {
  height: 26px;
}

.nav {
  margin-bottom: 30px;
  background-image: linear-gradient(to right, #672280 , #A626D3);
}

.nav .container {
  display: flex;
    align-items: center;
}

.nav .container p.project-name {
  margin-left: auto;
  color: #fff;
  font-size: 0.8rem;
}

.top-text {
  margin-top: 0;
  margin-bottom: auto;
 
}

.bottom-text {
  margin-bottom: 0;
  

}

#image-container {
  width: 100% ;
  height: 400px;
  margin-top: 20px;
  border:1px red solid;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#image-container p {
  -webkit-text-stroke: 1.5px black;
  text-stroke: 1.5px #000;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  
}

form {
  display: grid;
  grid-template: 100% 100% / 1fr 1fr;
  gap: 17px;
}

.form-input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  width: 100%;
  height: 35px;
  gap: 17px;
}

button {
  margin-top: 5px;
  grid-column: 1 / -1;
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin: 0 0 6px 0;
}

.header--title {
  font-size: 20px;
  margin-right: auto;
}

.header--project {
  font-size: 1.25rem;
  font-weight: 500px;
}

.form {
  display: grid;
  grid-template: 50px 50px / 1fr 1fr; 
  grid-gap: 15px;
}

.form-button {
  grid-column: 1/ -1;
}


main {padding: 36px;}